.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 560px;
    width: 100%;
    box-sizing: border-box;
    background-color: greenyellow;
    color: black;
    border-radius: 10px;
    .modal-close {
        position: absolute;
        right: 16px;
        top: 16px;
        display: inline-flex;
        vertical-align: middle;
        text-align: center;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        text-decoration: none !important;
        outline: none;
        border: none;
        cursor: pointer;
        user-select: none;
        background-color: transparent;
    }
    .modal-close svg {
        fill: #fff;
    }
    .modal-header {
        margin-bottom: 24px;
        font-size: 36px;
        padding: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    h4 {
        margin: 0;
    }
    .modal-content {
        font-size: 18px;
        text-align: center;
    }
    .modal-footer {
        margin-top: 24px;
    }
    .button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

}