.cards{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    width: calc(100% - 30%);
    margin: 0 auto;
    justify-content: center;
}

.card-box{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 12px solid rgba(0, 0, 255, .2);
    margin: 10px 10px;
    // box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    & .card-item img{
        width: 300px;
        height: 300px;
    }
    & .card-box-btn{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        width: 100%;
        padding-top: 20px;
    }
}
