.no-items {
  font-size: 32px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40%;
}
.cards {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  width: 90%;
  // margin: 0 auto;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
