.header{
    background-color: rgb(211, 174, 241);
    padding: 20px;
    position: fixed;
    right: 0;

    & .header-box{
        display: flex;
        justify-content: flex-end;
        & .star2 svg{
            width: 40px;
            height: 40px;
        }
        & .basket svg{
            width: 40px;
            height: 40px;

        }
    }
}

